#header {
    text-align: center;
    color: #ffffff;
    background-color: blue;
    padding: 5px;
    font-weight: 600;
}

.container {
    padding: 0;
    margin: 0;
}

.currentWeather {
    border: black;
}